{% extends 'pessoa/base.html' %}

{% block main %}

    <script>

        $(function() {
            $('#id_cpf').blur(function(){
                var num = $(this).val();

                if (!validaCPF(num)) {
                    $('#help_cpf').append(' ->> ERRO. <<-');
                    alert('Numero:' + num);
                }
            });

            $('#id_cpf').focus(function(){
                $('#id_cpf').mask('000.000.000-00');
            });

            $('#id_telefone').focus(function(){
                $('#id_telefone').mask('(00) 00000-0000');
            });

        });
    </script>

    <div class="container">
        <h4 class="mb-3">{{ titulo }}</h4>
        <div class="row">
            {% if dados %}
            <form class="needs-validation" action="{% url 'pessoa_usuario_edicao' dados.id %}" method="POST"  enctype="multipart/form-data">
            {% else %}
            <form class="needs-validation" action="{% url 'pessoa_usuario_novo' %}" method="POST"  enctype="multipart/form-data">
            {% endif %}

            {% csrf_token %}

            {% if dados %}
            <div class="row">
                <div class="mb-3">
                    ID:&nbsp;{{ dados.id }}
                    <div id="cad_id" class="help">
                        Identificador interno do sistema
                    </div>
                </div>
            </div>
            {% endif %}

            {% for field in form %}
            <div class="row">
                <!--
                {{ field.label }}
                {{ field.html_name }}
                -->

                    <div class="mb-3">
                        {{ field.label_tag }}&nbsp;
                        {{ field }}
                        <!-- ## testando campo cpf -->
                        <div id="help_{{ field.html_name }}" class="help">
                            {{ field.help_text }}
                        </div>
                    </div>
            </div>
            {% endfor %}
            <br>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <button class="btn btn-secondary" type="submit">Gravar</button>
                </div>
                <div class="col-md-5 mb-3">
                    <button class="btn btn-info" onclick="window.history.go(-1); return false;">voltar</button>
                </div>
                <ul class="errorlist">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
        </form>
        <br>
    </div>

{% endblock%}
<!--
#https://django-portuguese.readthedocs.io/en/1.0/intro/tutorial04.html
-->