{% extends 'pessoa/base.html' %}

{% block main %}
{% spaceless %}
    <div class="container">
        <h4 class="mb-3">FICHA DE CADASTRO</h4>
        <div class="row">
        <form class="needs-validation" action="{% url 'pessoa_usuario_novo' %}" method="POST">
            {% csrf_token %}

            {% for field in form %}
            <div class="row">
                <!--
                {{ field.label }}
                {{ field.html_name }}
                -->

                    <div class="mb-3">
                        {{ field.label_tag }}&nbsp;
                        {{ field }}
                        <!-- ## testando campo cpf -->
                        <div id="help_{{ field.html_name }}" class="help">
                            {{ field.help_text }}
                        </div>
                    </div>
            </div>
            {% endfor %}
            <br>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <button class="btn btn-secondary" type="submit">Gravar</button>
                </div>
                <div class="col-md-5 mb-3">
                    <button class="btn btn-info" onclick="window.history.go(-1); return false;">voltar</button>
                </div>
                <ul class="errorlist">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
        </form>
        <br>
    </div>
{% endspaceless %}
{% endblock%}
<!--
#https://django-portuguese.readthedocs.io/en/1.0/intro/tutorial04.html
-->