{% extends 'pessoa/base.html' %}

{% block main %}
{% spaceless %}
    <div class="container">
        <h4 class="mb-3">Detalhe de {{ titulo }}</h4>
        <div class="row">
            {% if detalhe %}
              <table border="1" width="80%">
                  {% for p in detalhe %}
                      <tr>
                          <td><label>{{ p.titulo }} &nbsp;</label></td>
                          {% autoescape off %}
                          <td>&nbsp;{{ p.valor|safe }}</td>
                          {% endautoescape %}
                      </tr>
                  {% endfor %}
              </table>
            {% else %}
               <p>nenhum dado foi localizado</p>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 mb-3">
                <button class="btn btn-info" onclick="window.history.go(-1); return false;">voltar</button>
            </div>
            <div class="col-md-3 mb-3">
                <button class="btn btn-secondary" onclick="location.href='/pessoa/usuario_edicao/{{ parametro_id }}'; return false;">Editar</button>
            </div>
            <div class="col-md-3 mb-3">
                <button class="btn btn-secondary" onclick="olaMundo()">Teste</button>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock%}