{% extends 'pessoa/base.html' %}

{% block main %}
<body class="bg-light">
    <h1>Relacao de {{ titulo }}</h1>
    {% if detalhe %}
      <table border="1">
          <tr>
              <td><label>ID</label></td>
              <td>{{ detalhe.id }}</td>
          </tr>
          <tr>
              <td><label>Descricao</label></td>
              <td>{{ detalhe.descricao }}</td>
          </tr>
      </table>
    {% else %}
       <p>nenhum dado foi localizado</p>
    {% endif %}

    <button class="btn btn-info" onclick="window.history.go(-1); return false;">voltar</button>
    <button class="btn btn-secondary" onclick="olaMundo()">Editar</button>

{% endblock%}