{% extends 'pessoa/base.html' %}

{% block main %}
<body class="bg-light">
    <h1>Relacao de {{ titulo }}</h1>
    <form method=”GET” action=".">
        <div class=”input-group-prepend”>
            <button class=”btn btn-outline-secondary” type=”submit” id=”bt_search">Buscar</button>
            <input type=”text” class=”form-control” placeholder=”” name=”search” id=”search”>
        </div>
    </form>
    <p class="help">filtro: {{ str_busca }}</p>
    {% if lista %}
      <ul>
          {% for p in lista %}
              <!-- ><li><a href="/pessoa￿/detalhe/{{ p.id }}/">{{ p.nome }}</a></li> -->
              <li><a href="{{ url }}{{ p.id }}/"> {{ p.id }} - {{ p.nome }}</a></li>
          {% endfor %}
      </ul>
    {% else %}
       <p>nenhum dado foi localizado</p>
    {% endif %}

{% endblock%}