{% extends 'pessoa/base.html' %}

{% block main %}
    <body class="bg-light">
        <div class="container">

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <h3>Autenticaçäo do Sistema</h3>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'alterar-senha' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td colspan="2" align="center">
            Alterando Senha:  usuario[{{ user.username }}]
        </td>
    </tr>
    <tr>
        <td>{{ form.old_password.label_tag }}</td>
        <td>{{ form.old_password }}</td>
    </tr>
    <tr>
        <td>{{ form.new_password1.label_tag }}</td>
        <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
        <td>{{ form.new_password2.label_tag }}</td>
        <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" value="Mudar">
        </td>
    </tr>
    </table>

    </form>


{% endblock %}