<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Detalhe da Pessoa</h3>
    {% if detalhe %}
      <table border="1">
          <tr>
              <td><label>ID</label></td>
              <td>{{ detalhe.id }}</td>
          </tr>
          <tr>
              <td><label>Nome</label></td>
              <td>{{ detalhe.nome }}</td>
          </tr>
          <tr>
              <td><label>Pai</label></td>
              <td>{{ detalhe.pai }}</td>
          </tr>
          <tr>
              <td><label>Mae</label></td>
              <td>{{ detalhe.mae }}</td>
          </tr>
      </table>
    {% else %}
       <p>nenhum dado foi localizado</p>
    {% endif %}

</body>
</html>